.env
.bundle
.credentials
Gemfile.lock
config/mongoid.yml
config/old_mongoid.yml
nohup*.out
identifiers/extract_035s.rb
identifiers/identifier_prefixes.rb
identifiers/identifier_prefixes.txt
sources_in_registry_04_15.txt
ignore
*.tmp*
*.tmp.rb
*.tmp.tsv
.client_secret.json
*.swp
utah
